/*Structure*/
:root {
    --main-background-color: rgb(241, 241, 241);
    --content-background-color:rgb(176, 176, 176);
    --nav-li-color:rgb(53, 53, 53);
    --nav-background-color:rgb(7, 7, 7);
    --h1-color:rgb(33, 33, 33);
    --nav-hover-color:rgb(245, 244, 245);
    --node-background-color:rgb(128, 126, 126);
    --history-background-color:rgb(200,200,200);
    --dropdown-background-color:rgb(0,0,0);
    --dropdown-color:rgb(245,245,245);
    --italy-background-color:rgb(150,150,150);
}

body {
    background-color: var(--main-background-color);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: block;
    margin: auto;
    position: relative;
    width:100%;
}
header h1 {
    color: var(--h1-color);
    margin:20px;
    margin-left: 90px;
    position:relative;
    display: inline-block;
}
header img {
    position: absolute;
    top:50%;
    left: 14px;
    transform: translateY(-68px);
    width:60px;
    height: auto;
}

/*Header Navigation*/
#header-nav ul {
    padding-left: 0; /* no indent*/
    background-color: var(--nav-background-color);
    width:100%;
    text-align: center;
}
#header-nav a, a { /*links*/
    color: var(--nav-li-color);
    text-decoration: none;
}
#header-nav li {
    list-style-type: none; /*remove bullets*/
    display: inline-block; /*display all next to eachother*/
    padding:20px;
}
#header-nav a:hover, a:hover {
    color: var(--nav-hover-color)
}

/*Main*/
#content {
    background-color: var(--content-background-color);
    width:80%;
    margin: auto;
    border-radius: 3px;
    padding:15px;
    margin-top: 15px;
}
#main-carosel {
    display: block;
    max-width:90%;
    margin:auto;
}
#main-content {
    display: block;
    max-width:90%;
    margin:auto;
    padding:20px;
    margin:20px;
}
#content h3 {
    margin-left:50px;
}
#main-carosel img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin-bottom: 10px;
}
#gallery {
    margin:auto;
    background-color: var(--italy-background-color);
    padding: 20px;
    border-radius: 3px;
}
#gallery-image {
    margin:12px;
}



/*Florence*/
#florence-page, #history-page {
    width:70%;
    display: block;
    margin:auto;
    background-color: var(--content-background-color);
}
.gallery, .link {
    padding:35px;
    margin:auto;
    margin-left:20px;
    margin-right:20px;
}
.node, .link {
    text-align: center;
    padding: 25px;
    margin:auto;
    background-color: var(--node-background-color);
    border-radius: 6px;
    margin-bottom: 30px;
}

#history-page {
    width:auto;
    width:70%;
    display: block;
    margin:auto;
    padding:20px;
}
#history-page h3 {
    background-color: var(--history-background-color);
    border-radius: 10px;
    padding:10px;
}
.hidden {
    display: none;
}
#paragraph-container {
    margin-top: 20px;
    font-size: 16px;
    padding:20px;
    background-color: var(--history-background-color);
}
#menu {
    background-color: var(--dropdown-background-color);
    color: var(--dropdown-color);
}

/*Italy*/
#italy-page {
    margin:auto;
    display: block;
    width:80%;
}
#cities li {
    list-style-type: none; /*remove bullets*/
    display: inline-block; /*display all next to eachother*/
    padding:10px;
}
#cities ul {
    background-color: var(--dropdown-background-color);
    color: var(--dropdown-color);
    border-radius: 6px;
}
#italy-map {
    margin: 15px;
}#italy-gallery {
    margin:auto;
    background-color: var(--italy-background-color);
    padding: 20px;
    border-radius: 3px;
}

#city-description {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

/*Page4*/
#places-grid {
    display: flex;
    flex-wrap: wrap;
    padding:20px;
    width: 80%;
    margin:auto;
}
.grid-item {
    background-color: var(--content-background-color);
    padding: 20px;
    margin:20px;
    border-radius: 10px;
    text-align: center;
}
/*Budapest*/
#budapest-page, #FAQ-page, #resources {
    margin:auto;
    display: block;
    width:80%;
    background-color: var(--content-background-color);
}
#image-stack {
    margin: 15px;
    flex-wrap: wrap;
}
.image-to-stack {
    margin:15px 0;
}
#budapest-p {
    padding: 20px;
    margin: 20px;
}

/*FAQ*/
#FAQ-page, #resources {
    padding:20px;
    margin-top: 10px;
}
#questions {
    padding:5px;
    margin: 5px;
}

/*Flex*/
@media only screen and (min-width:768px) {
    .columns, #main-content, #florence-page, #italy-page, #budapest-page, #FAQ-page {
        display: flex;
    }

    .one {
        flex:1;
    }
    .three {
        flex:3;
    }
    .italy-top {
        display: flex;
        flex-direction: column; /* Stack elements vertically */
    }
    .gallery {
        flex-wrap:wrap; /*wraps the text boxes within that column space*/
    }
}
