/*Structure */
:root {
    --main-background-color: cornflowerblue;
}

body {
    background-color: var(--main-background-color);
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    background-color: white;
    width: 70%;
    margin: auto; /*center the text*/
    padding: 5px;
    border: 1px solid navy;
    border-radius: 3px;
}

header, footer {
    background-color: lightskyblue;
    color: white;
    position:relative;
    padding:20px 0;
}

.idea {
    padding:5px;
}
.idea-img {
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position:relative;
}
.idea-img p {
    padding:5px;
    background-color: navy;
    color: white;
}
.idea:nth-child(even) {
    background-color: aliceblue;
}

.gallery {
    background-color: seagreen;
}
.links {
    background-color: honeydew;
}

.tile, .node {
    text-align: center;
    padding: 5px;
}

.sad {
    color:purple;
}

/*Animation*/
#animation-fun {
    background-color: aliceblue;
    padding:20px;
    height: 300px;
    position:relative;
}

#ball {
    height: 30px;
    width: 30px;
    background-color: blueviolet;
    border-radius: 50px;
    animation-name:fun;
    position: relative;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes fun {
    0% {
        background-color: red;
        top:0;
        left:0;
    }
    20% {background-color: orange;}
    40% {background-color: yellow;}
    60% {
        background-color: green;
        left:100px;
        top:200px;
    }
    80% {background-color: blue;}
    100% {
        background-color: violet;
        top:0px;
        left:0;
    }
}

/*Playing with positioning*/
#main-logo {
    position:absolute;
    left: 10px;
}


/* Navigation */
#sub-nav {
    position:absolute;
    top:0;
    right: 5px;
}

#main-nav ul, #sub-nav ul {
    padding-left: 0; /* no indent*/
}

#main-nav li, #sub-nav li {
    list-style-type: none; /*remove bullets*/
    text-align: center;
    border-bottom: 1px solid blanchedalmond;
}

#main-nav li {
    background-color: navy;
}

#sub-nav li {
    margin: 0 5px;
}

#main-nav a, #sub-nav a { /*links*/
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent; /*always can see the border and no moving around*/
}

#main-nav a:hover, #sub-nav a:hover {
    border-bottom: 1px solid white;
    text-decoration: none;
}

#main-nav a:hover {
    color: lightskyblue;
}


/*Button*/
.happy {
    color: pink;
}
.sad {
    color:darkblue
}
.hidden {
    display: none;
}
.emotions

/* Typography */
header h1 {
    text-align: center;
}

footer p {
    text-align: center;
}

/*Larger screens*/
@media only screen and (min-width:768px) {
    .columns {
        display: flex;
    }

    #main-nav li {
        flex:1; 
    }
    #main-nav li:not(:last-child) {
        border-right: 1px solid lightblue;
    }

    .gallery {
        flex-wrap:wrap; /*wraps the text boxes within that column space*/
    }

    .one {
        flex:1;
    }
    .two {
        flex:2;
    }
    .three {
        flex:3;
    }

    .tile {
        width:40%; /*the tiles are taking up 40% of the space; 2 tiles in the same row*/
    }
    .node {
        flex-basis: 30%;
    }
    .idea-img p {
        position:absolute;
        padding:5px;
        background-color: navy; /*becomes a subheading in mobile*/
        color: white;
        bottom:0;
    }
}