/*Structure*/
body {
    background-color: rgb(157, 157, 197);
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    background-color:ghostwhite;
    width: 85%;
    margin-left: 0px;
    margin: auto;
    padding: 10px;
}

header, main h2 {
    text-align: center;
    color:indigo;
}
main li {
    list-style-type: none;
}

main a { /*links*/
    color:rgb(46, 21, 64);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
main a:hover {
    color:rgb(95, 95, 168);
    border-bottom: 1px solid rgb(46, 21, 64);
}

main p {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:darkslateblue;
    border-radius: 5px;
    color:lavender;
}
#name, main h2 {
    padding: 15px;
    background-color: lavender;
    border-radius: 5px;
}

.group {
    margin: 10px;
    padding: 10px;
}

#main-content {
    text-align: center;
    margin-left: 0px;
}



@media (min-width: 900px) {
    #main-content ul {
        display:flex;
    }
    #main-content li {
        flex:1;
    }

}