/*Structure*/
body {
    background-color: #77B6FF;
}
#content {
    background-color: #DBECFD;
    width:70%;
    margin: auto;
    border-radius: 3px;
    padding:15px;
    margin-top: 15px;
}
header {
    background-color: #3869C9;
    color: #E5F0F7;
    text-align: center;
    padding: 5px;
    margin: 25px;
    margin-top: 10px;
}

#main-home {
    text-align: center;
}
#assignment-tab, #projects-tab, #node-tab {
    background-color: #9AE1A5;
    margin: 25px;
    padding-bottom: 5px;
    border-radius: 40px;
}
#node-tab {
    width: 360px;
}
#main-home a:hover {
    color: #3869C9;
    background-color: 3869C9;
}
#main-home a {
    text-decoration: none;
    color:black;
}

.group {
    background-color: #38C97F;
    margin: 45px;
    padding: 10px;
    border-radius: 40px;
    color: #213968;
}
.group a { /*links*/
    color: #DBECFD;
    text-decoration: none;
}
.group li {
    padding: 15px;
    background-color: #3869C9;
    border-radius: 10px;
    margin-left: 20px;
}
.group p {
    padding: 30px;
}
.group img {
    align-items: center;
    max-width:90%;
    position: relative;
    display: block;
    margin: auto;
}
.assign10 {
    padding: 10px;
    border-radius: 40px;
}

.assign10 li {
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
.assign10 img {
    align-items: center;
    max-width:80%;
    position: relative;
    display: block;
    margin: auto;
}


/*Navigation*/
nav ul, .group ul {
    padding-left: 0; /* no indent*/
}
nav a { /*links*/
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent; /*always can see the border and no moving around*/
}
nav li, .group li {
    list-style-type: none; /*remove bullets*/
    display: inline-block; /*display all next to eachother*/
}
nav a:hover {
    color: #38C97F;
    border-bottom: 1px solid #38C97F;
}


@media (min-width: 900px) {
    #main-content ul, #main-home, #assignment-page, #project-page {
        display:flex;
    }
    #main-content li, #projects-tab, #assignment-tab, .group {
        flex:1;
    }

}