/*Structure*/
body {
    background-color: white;
    width: 100%;
    margin: 0 auto 0 auto;
}


/*Headers*/
#main-header {
    background-color: black;
    height: 100px;
    width: 101%;
    position: relative;
    margin-top: -15px;
}

#header-logo {
    color:white;
    margin-left: 160px;
    position: relative;
}
#header-logo p {
    position: absolute;
}
#header-logo img {
    position: relative;
    right: 60px;
    bottom:45px;
}

#header-college {
    background-color: #73000A;
    color:white;
    width:100%;
    position: relative;
    margin-top:-20px;

}
#header-college h3 {
    margin-left: 80px;
}

/*Main Content*/
#main-content, .main-text {
    width: 90%;
    position: absolute;
}
#top-page {
    position: relative;
    margin-left: 80px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
#top-page img {
    width:100%;
    margin: 10px;
}
.idea-img {
    background-color: white;
    position:relative;
    left:50px;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #73000A;
}
.idea-img h3, #images-section h3, #news-story h3 {
    color:#73000A;
}

#main-section, #news-section {
    position:relative;
    margin:20px;
}
#top-paragraph, #images-section, #line {
    position:relative;
    height: 120px;
    width:85%;
    left:100px;
    padding:6px;
    margin:20px
}
#top-paragraph {
    font-size: x-large;
    border-bottom-style: solid;
    border-bottom-color: #c7c7c7;
    border-bottom-width: 2px;
}

.main-text {
    padding: 10px;
    margin: 5px;
    margin-left:85px;
}
.tile {
    margin:17px;
    padding:3px;
}

#bottom-half {
    position: absolute;
    top:1850px;
    left: 550px;
}
#news-section {
    color:#73000A;
}
#news-section ul {
    padding-left: 0; /*No indent*/
    text-align: right;
}
#news-section li {
    list-style-type: none;
    text-align: left;
    display: inline-block;
}
#news-section a {
    text-decoration: none;
    color:#73000A;
    position: relative;
    right:100px;
}
#news-story {
    position: relative;
    padding: 10px;
    margin: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #c7c7c7;
}
#news-story h3 {
    width: 450px;
}
#news-story img {
    position:relative;
    right:100px;
}

#main-footer {
    position:absolute;
    width:100%;
}
#grey-footer {
    position:relative;
    height:60px;
    top:2500px;
    background-color: #ECECEC;
    width:100%;
    padding-top:5px;
}
#red-footer {
    background-color: #73000A;
    position:relative;
    top:2500px;
    color:white;
}
.foot p:hover {
    background-color: #CD2E40;
}
.foot {
    margin:10px;
    padding:5px;
}



/*Navigation*/
/*Header Nav*/ 
#header-nav {
    padding-right: 60px;
    position:relative; 

}
#header-nav ul {
    padding-left: 0; /*No indent*/
    text-align: right;
}
#header-nav li {
    list-style-type: none;
    text-align: right;
    display: inline-block; /*shows up in a line*/
    font-size: x-small;
    margin-right: 3px;
    min-width: 4ch;
}
#header-nav a {
    color:white;
    text-decoration: none;
}
#header-nav a:hover{
    color:white;
    background-color: #CD2E40;
    padding:1px;
}
/*Main navigation*/
#main-nav {
    position:relative; 
    padding: 15px;

}
#main-nav ul {
    position: relative;
    padding-left: 0; /*No indent*/
    text-align: right;
    width: 300px;
}
#main-nav a {
    color:black;
    text-decoration: none;
}
#main-nav li {
    list-style-type: none;
    text-align: left;
    font-size: large;
    padding:4px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: #c7c7c7;
    
}
#main-nav a:hover {
    color:white;
    background-color: #CD2E40;
    padding:1px;
}
/*Typography*/
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*flexing*/
@media only screen and (min-width:600px) {
    .columns, .main-text, #news-story {
        display: flex;
    }
    .one {
        flex:1;
    }
    .two {
        flex:2;
    }  
    .three {
        flex:3;
    }
    .four { 
        flex:4;
    }
    .six {
        flex:6;
    }
    .programs, .tile {
        flex-wrap:wrap; /*wraps the text boxes within that column space*/
    }
    .tile {
        width:40%; /*the tiles are taking up 40% of the space; 2 tiles in the same row*/
    }
    .idea-img {
        position:absolute;
        padding:5px; /*becomes a subheading in mobile*/
        color: black;
        bottom:0;
    }
    
}

@media (max-width: 800px) {
    #header-nav a{
        display: none;
    }
}
